<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <meta name="description" content="Blog">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <div class="logo"><a href="/">Blog</a></div>
            <nav>
                <a href="/admin">Admin</a>
            </nav>
        </header>
        <div class="flex">
            <aside>
                <h1>Filter by tags</h1>
                <div class="tags">
                    {{#each tags}}
                        <a href="/tag/{{this}}">{{this.label}} ({{this.count}})</a>
                    {{/each}}
                </div>
            </aside>
            <main>
                {{#each posts}}
                    <article id="{{this._id}}" class="post">
                        {{#if this.date}}
                            <time datetime="{{this.data}}">{{this.date}}</time>
                        {{/if}}
                        <h2><a href="/{{this.slug}}">{{this.title}}</a></h2>
                        {{#if this.tags}}
                            <div class="tags">
                                {{#each this.tags}}
                                    <a href="/tag/{{this}}">{{this}}</a>
                                {{/each}}
                            </div>
                        {{/if}}
                        <div class="content">
                            {{{this.content}}}
                        </div>
                    </article>
                {{/each}}
            </main>
        </div>
        <footer>
            Add footer here...
        </footer>
    </body>
</html>

